<!DOCTYPE html>
<html lang="es">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agenda Reunión Directiva</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/node_modules_normalize.css' %}" />
    

  </head>
  <body>
    <div class="container">
      {% block content %}
      <!-- EL CONTENIDO SE INSERTARÁ AQUÍ -->
      {% endblock %}
    </div>

    {% include 'directivo/partials/modal_notas.html' %}
    <script src="{% static 'js/cronometro.js' %}"></script>
    <script src="{% static 'js/notes.js' %}"></script>
  </body>
</html>