<!DOCTYPE html>
<html lang="es">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Agenda Reunión Operativa{% endblock %}</title>

    <!-- CSS generales -->
    <link rel="stylesheet" href="{% static 'css/operativo.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" /> 


    <!-- CSS específicos por página o parcial -->
    {% block extra_css %}{% endblock %}
  </head>

  <body>
    <div class="container">
      {% block content %}
      <!-- Contenido de cada página -->
      {% endblock %}
    </div>

    {% include 'operativo/partials/modal_notas.html' %}

    <!-- JS generales -->
    <script src="{% static 'js/cronometro.js' %}"></script>
    <script src="{% static 'js/notes.js' %}"></script>
  </body>
</html>
