{% extends 'base_operativo.html' %}

{% block title %}Agenda Reunión Operativa CCC Valladolid{% endblock %}

{% block extra_css %}


{% endblock %}

{% block content %}
<h1>AGENDA DE LA REUNIÓN OPERATIVA DE LA CENTRAL CCC VALLADOLID</h1>

{% include 'partials/info_reunion.html' %}
{% include 'partials/proposito.html' %}
{% include 'partials/importancia.html' %}
{% include 'partials/integrantes.html' %}
{% include 'partials/agenda_detallada.html' %}

<!-- Modal de notas solo cargado en esta vista -->
{% include 'partials/modal_notas.html' %}
{% endblock %}
